main {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
}
/* CARDS */

.presentacion {
  display: flex;
  margin-top: $espacio-grande;
  margin-bottom: $espacio-grande;
  align-items: center;

  .imgMain {
    display: flex;
    flex: 1 1 50%;
    border: 0;
    box-shadow: 0px 2px 32px rgb(119, 119, 119);
  }

  .texto {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    padding: $espacio-medio;
    gap: $espacio-medio;

    .texto_titulo {
      font-family: $titulo;
      font-size: $texto-grande;
    }

    .texto_descripcion {
      font-family: $texto;
      font-size: $texto-medio;
    }
    .texto_boton {
      font-size: $texto-medio;
      font-family: $titulo;
    }
  }
}
.titulo {
  display: flex;
  flex-direction: row;
  font-family: $titulo;
  font-size: $texto-pequenio;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: $espacio-medio;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  .box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 0;
    box-shadow: 0px 2px 32px rgb(119, 119, 119);
    // flex-basis: 30%;
    // flex-grow: 1;
    // flex-shrink: 1;
    flex: 1 1 clamp(300px, 30%, 400px);
    .box__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $espacio-medio;
      gap: $espacio-pequenio;
      .box__title {
        font-family: $titulo;
        font-size: $texto-medio;
        color: $color-texto;
      }
      .box__texto {
        font-family: $texto;
        font-size: $texto-base;
        color: $alternativo;
      }
      .caracteristicas {
        display: none;
      }
    }
  }
}
#producto {
  display: flex;
  font-size: $texto-medio;
  justify-content: center;
}
