/* VARIABLES */
         /* colors */
         $primario:#5564EB;
         $secundario:#E3E4E5;
         $altermativo:#434B4D;
         $color-texto:#0C0B0B;
         $base:#F7F7F7;
 
        /* spacings */
         $espacio-grande: 6rem;
         $espacio-medio: 2.4rem;
         $espacio-pequenio: 2rem;
         $espacio-xpequenio: 1rem;

         /* font-family */
         $titulo:'Roboto' Condensed;
         $texto: 'Roboto';

         /* font-sizes */
         $texto-grande:5.2em;
         $texto-medio:2.4em;
         $texto-base:1.6em;
         $texto-pequenio:1.4em;
         